@using BookFinder.Models;

@model BookViewModel

<div id="book-description" class="col2">

    <div>
        <h2 id="title"></h2>
    </div>

    <div>
        <h4 id="description"></h4>
    </div>

</div>